@(id: Array[Int],firstName : Array[String], lastName : Array[String])
<html>
    <head>
        <title>Home</title>
    </head>
    <Body>
        <center>
        <table border = "1">
            <tr style="background-color: blueviolet;">
                <th>Index Number</th>
                <th>first Name</th>
                <th>last Name</th>
            </tr>
            @for(i <- 0 until id.size){
                <tr style="background-color: aqua;">
                    <td>@id(i)</td>
                    <td>@firstName(i)</td>
                    <td>@lastName(i)</td>
                </tr>
            }
        </table>
        </center>
    </Body>
</html>