@(id1 : Int , id2 : Int , id3 : Int, id4 : Int, first1 : String , first2 : String, first3 : String, first4 : String, last1 : String , last2 : String , last3 : String , last4 : String )
<html>
    <head>
        <title>Home</title>
    </head>
    <Body>
        <center>
        <table border = "1">
            <tr style="background-color: blueviolet;">
                <th>Index Number</th>
                <th>first Name</th>
                <th>last Name</th>
            </tr>
            <tr style="background-color: aqua;">
                <td>@id1</td>
                <td>@first1</td>
                <td>@last1</td>
            </tr>
            <tr style="background-color: aqua;">
                <td>@id2</td>
                <td>@first2</td>
                <td>@last2</td>
            </tr>
            <tr style="background-color: aqua;">
                <td>@id3</td>
                <td>@first3</td>
                <td>@last3</td>
            </tr>
            <tr style="background-color: aqua;">
                <td>@id4</td>
                <td>@first4</td>
                <td>@last4</td>
            </tr>   
        </table>
        </center>
    </Body>
</html>